.DS_Store
Library
Temp
obj
bin
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.user
*.suo
*.blend1
*.blend2
*.blend1.meta
*.blend2.meta
*.DotSettings
_ReSharper.*
UseOfRef/UseOfRef_iOS/*
UseOfRef/UseOfRef.apk
UseOfRef/UseOfRef.exe
UseOfRef/UseOfRef_Data/*
UseOfRef/UseOfRef_WebPlayer/*
